<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
             version="2.0">

    <persistence-unit name="persistence" transaction-type="RESOURCE_LOCAL">
        <description>
            Persistence unit for the JPA tutorial of the Hibernate Getting Started Guide
        </description>
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <!--需要被管理的实体类-->
        <class>com.fcy.EclipseLinkJpaDemo.Model.User</class>
        <properties>
            <property name="eclipselink.ddl-generation" value="create-or-extend-tables"/>
            <property name="eclipselink.ddl-generation.output-mode" value="database"/>
            <!-- eclipselink.weaving设为ture运行不成功, false,和static成功, 这是一个关键点 -->
            <property name="eclipselink.weaving" value="static" />
            <!-- 修改为FINE后，控制台会打印出执行的sql语句，方便调试, 可选值SERVER -->
            <property name="eclipselink.logging.level" value="FINE"/>
            <property name="eclipselink.jdbc.allow-native-sql-queries" value="true" />
            <!--因为我们要连的数据库是mysql，这里的javax.persistence.jdbc.driver值被设为com.mysql.jdbc.Driver。  -->
            <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver" />
            <!--具体要连接的数据库名字在javax.persistence.jdbc.url对应的值里面定义了，为shop  -->
            <property name="javax.persistence.jdbc.url"
                      value="jdbc:mysql://localhost:3306/fcy" />

            <property name="javax.persistence.jdbc.user" value="root" />
            <property name="javax.persistence.jdbc.password" value="838502" />

        </properties>

    </persistence-unit>

</persistence>